<!-- Login Page -->
<div class="container">
  <div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-lg-10">
      <div class="login-page justify-content-center align-items-center">
        <div class="row">
          <div class="col-md-6 ps-0 d-none d-md-block">
            <div action="" class="row justify-content-center align-items-center">
              <div class="col-12">
                <img src="../../assets/images/merit-logo.png">
              </div>
              <div class="col-12">
                <div class="d-flex justify-content-center">
                  <img src="../../assets/images/timelogger.png">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 pe-0 border-start border-2">
            <div class="row ms-2 justify-content-center align-items-center" style="height:400px">
              <form *ngIf="isBackToLogin" name="form" (ngSubmit)="onLogin()" #login="ngForm" [formGroup]="loginForm" class="row g-3 mt-n1">
                <div class="col-12 mt-n1">
                  <h1>Work Force Management System</h1>
                  <div class="text-center link-secondary">
                    Version 2.0
                  </div>
                </div>
                <div class="col-12">
                  <h3 class="text-center mb-1">Welcome Back to Login</h3>
                </div>




                <div class="col-12">
                  <label class="mb-1">Employee ID<span class="text-danger">*</span></label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-text">@</div>
                    <input type="text" class="form-control" name="username" formControlName="username" placeholder="Employee ID">
                  </div>
                  <div class="text-danger" *ngIf="loginForm.get('username')?.dirty && loginForm.get('username')?.errors">
                    Employee ID is required.
                  </div>
                </div>




                <div class="col-12">
                  <label class="mb-1">Password<span class="text-danger">*</span></label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-text">*</div>
                    <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
                  </div>
                  <div class="text-danger" *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors">
                    Password is required.
                  </div>
                </div>




                <div class="col-sm-12">
                  <a href="#" (click)="onForgetUserId()" class="float-start text-primary">Forgot User ID/Password?</a>
                </div>




                <div class="col-12">
                  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-sm px-3">LOGIN</button>
                  <button type="button" (click)="onReset()" class="btn btn-secondary btn-sm px-3 mx-2">RESET</button>
                </div>
              </form>
              <form *ngIf="isForgetUserId" name="form1" (ngSubmit)="onForgetUser()" [formGroup]="forgetUserIdForm" class="row g-3 mt-n1">
                <div class="col-12 mt-n1">
                  <h1>Work Force Management System</h1>
                  <div class="text-center link-secondary">
                    Version 2.0
                  </div>
                </div>




                <div class="col-12">
                  <h3 class="text-center mb-3">Forgot User ID/Password?</h3>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-check">
                        <input class="form-check-input" checked="checked" type="radio" name="flexRadioDefault" formControlName="type">
                        <label class="form-check-label" for="flexRadioDefault1">
                          User ID
                        </label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" formControlName="type">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Password
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <label class="mb-1">Email ID<span class="text-danger">*</span></label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-text">@</div>
                    <input type="text" class="form-control" name="email" formControlName="email" placeholder="Email ID">
                  </div>
                </div>




                <div class="col-12">
                  <button type="submit" (click)="onForgetUser()" class="btn btn-primary btn-sm px-3">submit</button>
                  <button type="button" (click)="onResetUserId()" class="btn btn-secondary btn-sm px-3 mx-2">RESET</button>

                </div>




                <div class="col-sm-12">
                  <a href="#" (click)="onBackToLogin()" class="float-start text-primary">Back to Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>




      </div>
      <div class="col-lg-12">
        <div class="login-maxwidth">
          <div class="row">
            <div class="col-sm-6 col-lg-7">
              <nav class="nav mt-2">
                <a class="nav-link link-secondary disabled">© Merit Group. All right reserved.</a>
                <a class="nav-link link-secondary" href="#">Powered by Merit IT</a>
              </nav>
            </div>
            <div class="col-sm-6 col-lg-5">
              <nav class="nav justify-content-end mt-2">
                <a class="nav-link link-secondary" aria-current="page" href="#">Help</a>
                <a class="nav-link link-secondary" href="#">Privacy Policy</a>
                <a class="nav-link link-secondary" href="#">Link</a>
              </nav>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>




<!--
<form class="example-container">




  <mat-form-field class="input-field">
    <input name="id" type="text" matInput placeholder="User ID" required>
  </mat-form-field>







  <mat-form-field class="input-field">
    <input name="password" type="text" matInput placeholder="Password" required>
  </mat-form-field>




</form> -->
