<!-- Login Page -->
<div class="container">
  <div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-lg-10">
      <div class="login-page justify-content-center align-items-center">
        <div class="row">
          <div class="col-md-6 ps-0 d-none d-md-block">
            <div action="" class="row justify-content-center align-items-center" style="height:400px">
              <div class="col-12">
                <img src="./assets/images/merit-logo.png" />
              </div>
              <div class="col-12">
                <div class="d-flex justify-content-center">
                  <img src="./assets/images/timelogger.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 pe-0 border-start border-2">
            <div class="row ms-2 justify-content-center align-items-center" style="height:400px">
              <form action="" class="row g-3 mt-n1">
                <div class="col-12 mt-n1">
                  <h1>Work Force Management System</h1>
                  <div class="text-center link-secondary">
                    Version 2.0
                  </div>
                </div>
                <div class="col-12">
                  <h3 class="text-center mb-1">Welcome Back to Login</h3>
                </div>

                <div class="col-12">
                  <mat-form-field class="input-field">
                    <input name="id" type="text" matInput placeholder="Employee ID" required>
                  </mat-form-field>
                  <!-- <label class="mb-1">Employee ID<span class="text-danger">*</span></label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-text">@</div>
                    <input type="text" class="form-control" placeholder="Employee ID">
                  </div> -->
                </div>

                <div class="col-12">
                  <mat-form-field class="input-field">
                    <input name="password" type="text" matInput placeholder="Password" required>
                  </mat-form-field>
                  <!-- <label class="mb-1">Password<span class="text-danger">*</span></label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-text">*</div>
                    <input type="password" class="form-control" placeholder="Password">
                  </div> -->
                </div>

                <div class="col-sm-12">
                  <a href="#" class="float-start text-primary">Forgot User ID/Password?</a>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-sm px-3">LOGIN</button>
                  <button type="submit" class="btn btn-secondary btn-sm px-3 mx-2">RESET</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-12">
        <div class="login-maxwidth">
          <div class="row">
            <div class="col-sm-6 col-lg-7">
              <nav class="nav mt-2">
                <a class="nav-link link-secondary disabled">© Merit Group. All right reserved.</a>
                <a class="nav-link link-secondary" href="#">Powered by Merit IT</a>
              </nav>
            </div>
            <div class="col-sm-6 col-lg-5">
              <nav class="nav justify-content-end mt-2">
                <a class="nav-link link-secondary" aria-current="page" href="#">Help</a>
                <a class="nav-link link-secondary" href="#">Privacy Policy</a>
                <a class="nav-link link-secondary" href="#">Link</a>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- 
<form class="example-container">

  <mat-form-field class="input-field">
    <input name="id" type="text" matInput placeholder="User ID" required>
  </mat-form-field>


  <mat-form-field class="input-field">
    <input name="password" type="text" matInput placeholder="Password" required>
  </mat-form-field>

</form> -->