.login-page {
  max-width: 800px;
  min-height: 460px;
  margin: 0 auto;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  padding: 50px;
}

.login-maxwidth {
  max-width: 800px;
  margin: 0 auto;
}

.password-hint {
  color: #5F6368;
  font-size: 11px;
  font-family: Inter;
  font-weight: 600;
  line-height: 16px;
}

.password-hint span {
  color: #008857;
}