<!-- Popup -->
<div class="popups p-5 pt-0">
  <div class="topLine"></div>
  <div class="container">
    <!-- Emoji Meter Start Here -->
    <section>
      <div class="row d-flex justify-content-between">
        <div class="col">
          <h1 class="h1">Emoji Meter</h1>
        </div>
        <div class="col d-flex justify-content-end">
          <img src="./assets/images/merit-logo.png" />
        </div>
      </div>
      <div class="row d-flex justify-content-evenly my-4 mb-5">
        <div class="col text-center">
          <div class="emojiBlock">
            <div class="py-3">
              <img src="./assets/images/emoji-icons/very-happy-emoji.png" class="emojiIcon" />
            </div>
            <div class="emojiBlockTitle py-3 px-1">
              Very Happy
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="emojiBlock emojiActive">
            <div class="py-3">
              <img src="./assets/images/emoji-icons/happy-emoji.png" class="emojiIcon" />
            </div>
            <div class="emojiBlockTitle py-3 px-1">
              Happy
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="emojiBlock">
            <div class="py-3">
              <img src="./assets/images/emoji-icons/neutral-emoji.png" class="emojiIcon" />
            </div>
            <div class="emojiBlockTitle py-3 px-1">
              Neutral
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="emojiBlock">
            <div class="py-3">
              <img src="./assets/images/emoji-icons/sad-emoji.png" class="emojiIcon" />
            </div>
            <div class="emojiBlockTitle py-3 px-1">
              Sad
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="emojiBlock">
            <div class="py-3">
              <img src="./assets/images/emoji-icons/very-sad-emoji.png" class="emojiIcon" />
            </div>
            <div class="emojiBlockTitle py-3 px-1">
              Very Sad
            </div>
          </div>
        </div>
      </div>
      <div class="hrSeparate my-4"></div>
      <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-md-6">
          <div class="d-flex flex-row">
            <div class="pe-3">
              <img src="./assets/images/profile-img.png" class="profileIcon" />
            </div>
            <div>
              <div class="welcomeText">Welcome Back, </div>
              <div class="employeeName">Shanmugam Jayaraman</div>
              <div class="employeeID">603319 | Senior Software Engineer</div>
            </div>
          </div>
        </div>
        <div class="col-auto col-sm-12 col-md-6">
          <div class="d-flex flex-row">
            <div class="border border-4 border-top-0 border-end-0 border-bottom-0 purpleBorder ps-3 ">
              <div class="timeStatus">Weekly Time Status</div>
              <div class="hoursStatus">8:35/40:00 Hours</div>
              <div class="currentStatus">Yesterday you will work 0:35 Hour extra time</div>
            </div>
          </div>
        </div>
        <div>
        </div>

      </div>

      <div class="hrSeparate mt-4 mb-3"></div>
      <div class="col-12">
        <div class="emojiTrackHistory mb-2">Emoji Tracker</div>
        <div class="row">
          <!-- History 01 -->
          <div class="col-sm-6 col-lg-4">
            <div class="emojiTrackBlock my-2">
              <div class="d-flex flex-row">
                <div class="p-1">
                  <img src="./assets/images/emoji-icons/very-happy-emoji.png" class="emojiHistoryIcon" />
                </div>
                <div class="p-1">
                  <div class="emojiHistoryTitle">Very Happy</div>
                  <div class="emojiHistoryCaption">10:00AM to 11:15AM</div>
                </div>
              </div>
            </div>
          </div>

          <!-- History 02 -->
          <div class="col-sm-6 col-lg-4">
            <div class="emojiTrackBlock my-2">
              <div class="d-flex flex-row">
                <div class="p-1">
                  <img src="./assets/images/emoji-icons/happy-emoji.png" class="emojiHistoryIcon" />
                </div>
                <div class="p-1">
                  <div class="emojiHistoryTitle">Very Happy</div>
                  <div class="emojiHistoryCaption">10:00AM to 11:15AM</div>
                </div>
              </div>
            </div>
          </div>

          <!-- History 03 -->
          <div class="col-sm-6 col-lg-4">
            <div class="emojiTrackBlock my-2">
              <div class="d-flex flex-row">
                <div class="p-1">
                  <img src="./assets/images/emoji-icons/very-happy-emoji.png" class="emojiHistoryIcon" />
                </div>
                <div class="p-1">
                  <div class="emojiHistoryTitle">Happy</div>
                  <div class="emojiHistoryCaption">10:00AM to 11:15AM</div>
                </div>
              </div>
            </div>
          </div>

          <!-- History 04 -->
          <div class="col-sm-6 col-lg-4">
            <div class="emojiTrackBlock my-2">
              <div class="d-flex flex-row">
                <div class="p-1">
                  <img src="./assets/images/emoji-icons/very-happy-emoji.png" class="emojiHistoryIcon" />
                </div>
                <div class="p-1">
                  <div class="emojiHistoryTitle">Happy</div>
                  <div class="emojiHistoryCaption">10:00AM to 11:15AM</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- Emoji Meter End Here -->
    <br><br><br>

    <!-- Break Start Here -->
    <section>
      <div class="row d-flex justify-content-between">
        <div class="col">
          <h1 class="h1">Break</h1>
        </div>
        <div class="col d-flex justify-content-end">
          <img src="./assets/images/merit-logo.png" />
        </div>
      </div>
      <div class="hrSeparate my-4"></div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="breakTitle mt-2">Please select your break type</div>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="breakTime mt-2 mb-4">[Today, You already taken 0:15 Hr break!]</div>
        </div>

        <div class="col-12">
          <div class="row">
            <!-- Break Type 1 -->
            <div class="col-sm-6 col-md-3">
              <div class="d-flex flex-column breakBlock mb-3 p-1">
                <div class="breakIcon text-center p-1 px-2">
                  <img src="./assets/images/break-icon.svg" class="" />
                </div>
                <div class="breakText d-flex py-1 justify-content-center align-items-center">Coffee</div>
              </div>
            </div>
            <!-- Break Type 1 -->
            <div class="col-sm-6 col-md-3">
              <div class="d-flex flex-column breakBlock mb-3 p-1">
                <div class="breakIcon text-center p-1 px-2">
                  <img src="./assets/images/break-icon.svg" class="" />
                </div>
                <div class="breakText d-flex py-1 justify-content-center align-items-center">Snacks</div>
              </div>
            </div>

            <!-- Break Type 1 -->
            <div class="col-sm-6 col-md-3">
              <div class="d-flex flex-column breakBlock mb-3 p-1">
                <div class="breakIcon text-center p-1 px-2">
                  <img src="./assets/images/break-icon.svg" class="" />
                </div>
                <div class="breakText d-flex py-1 justify-content-center align-items-center">Breakfast</div>
              </div>
            </div>

            <!-- Break Type 1 -->
            <div class="col-sm-6 col-md-3">
              <div class="d-flex flex-column breakBlock mb-3 p-1">
                <div class="breakIcon text-center p-1 px-2">
                  <img src="./assets/images/break-icon.svg" class="" />
                </div>
                <div class="breakText d-flex py-1 justify-content-center align-items-center">Lunch</div>
              </div>
            </div>

            <!-- Break Type 1 -->
            <div class="col-sm-6 col-md-3">
              <div class="d-flex flex-column breakBlock selectedBreak mb-3 p-1">
                <div class="breakIcon text-center p-1 px-2">
                  <img src="./assets/images/break-icon.svg" class="" />
                </div>
                <div class="breakText d-flex py-1 justify-content-center align-items-center">Dinner</div>
              </div>
            </div>

            <!-- Break Type 1 -->
            <div class="col-sm-6 col-md-3">
              <div class="d-flex flex-column breakBlock mb-3 p-1">
                <div class="breakIcon text-center p-1 px-2">
                  <img src="./assets/images/break-icon.svg" class="" />
                </div>
                <div class="breakText d-flex py-1 justify-content-center align-items-center">Cake Cutting</div>
              </div>
            </div>

            <!-- Break Type 1 -->
            <div class="col-sm-6 col-md-3">
              <div class="d-flex flex-column breakBlock mb-3 p-1">
                <div class="breakIcon text-center p-1 px-2">
                  <img src="./assets/images/break-icon.svg" class="" />
                </div>
                <div class="breakText d-flex py-1 justify-content-center align-items-center">Team Meeting</div>
              </div>
            </div>

            <!-- Break Type 1 -->
            <div class="col-sm-6 col-md-3">
              <div class="d-flex flex-column breakBlock mb-3 p-1">
                <div class="breakIcon text-center p-1 px-2">
                  <img src="./assets/images/break-icon.svg" class="" />
                </div>
                <div class="breakText d-flex py-1 justify-content-center align-items-center">Other</div>
              </div>
            </div>

            <div class="col-sm-6 col-md-8">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Other</mat-label>
                <input matInput placeholder="Other">
              </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-primary btn-sm px-3">Start</button>
                <button type="button" class="btn btn-secondary btn-sm px-3 mx-2">Cancel</button>
              </div>
            </div>

          </div>
        </div>

      </div>

    </section>
    <!-- Break End Here -->
    <br><br><br>

    <!-- M-App Start Here -->
    <section>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <img src="./assets/images/merit-logo.png" class="pe-3 border-end " />
          <h2 class="popupTitle ms-3 mt-1 ">M-App</h2>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="topicName mt-3">World Quality Month 2022</div>
        </div>

        <div class="col-12 d-flex justify-content-center align-items-center">
          <h2 class="topicTitle mt-3"> 02. Quality Management Principles</h2>
        </div>

        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="topicQuestion mt-2 mb-5">Do you want to go throught the policy now?</div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-start align-items-center">
            <img src="./assets/images/snooze-icon.svg" class="pe-1" />
            You can skip this once.
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-sm px-3">Start</button>
            <button type="button" class="btn btn-secondary btn-sm px-3 mx-2">Skip</button>
          </div>
        </div>
        <div class="hrSeparate my-4"></div>
        <div class="row d-flex justify-content-between">
          <div class="col-sm-12 col-md-6">
            <div class="d-flex flex-row">
              <div class="pe-3">
                <img src="./assets/images/profile-img.png" class="profileIcon" />
              </div>
              <div>
                <div class="welcomeText">Welcome Back, </div>
                <div class="employeeName">Shanmugam Jayaraman</div>
                <div class="employeeID">603319 | Senior Software Engineer</div>
              </div>
            </div>
          </div>
          <div class="col-auto col-sm-12 col-md-6">
            <div class="d-flex flex-row">
              <div class="border border-4 border-top-0 border-end-0 border-bottom-0 purpleBorder ps-3 ">
                <div class="timeStatus">Weekly Time Status</div>
                <div class="hoursStatus">8:35/40:00 Hours</div>
                <div class="currentStatus">Yesterday you will work 0:35 Hour extra time</div>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </section>
    <!-- M-App End Here -->
    <br><br><br>
    <!-- M-App Start Here -->
    <section>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <img src="./assets/images/merit-logo.png" class="pe-3 border-end " />
          <h2 class="popupTitle ms-3 mt-1 ">M-App</h2>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="topicName mt-3">World Quality Month 2022</div>
        </div>

        <div class="col-12 d-flex justify-content-center align-items-center">
          <h2 class="topicTitle mt-3 mb-3"> 02. Quality Management Principles</h2>
        </div>
        <div class="col-12">
          <img src="./assets/images/05_Risk_Register.png" class="img-fluid mb-4" />
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-start align-items-center">
            <img src="./assets/images/snooze-icon.svg" class="pe-1" />
            You can skip this once.
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-sm px-3">Start</button>
            <button type="button" class="btn btn-secondary btn-sm px-3 mx-2">Skip</button>
          </div>
        </div>

      </div>
    </section>
    <!-- M-App End Here -->

    <br><br><br>

    <!-- M-App Start Here -->
    <section>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <img src="./assets/images/merit-logo.png" class="pe-3 border-end " />
          <h2 class="popupTitle ms-3 mt-1 ">M-App</h2>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="topicName mt-3">World Quality Month 2022</div>
        </div>

        <div class="col-12 d-flex justify-content-center align-items-center">
          <h2 class="topicTitle mt-3 mb-3"> 02. Quality Management Principles</h2>
        </div>
        <div class="col-12">
          <div class="questionCount mb-2">
            Question: 3
          </div>
        </div>
        <div class="col-12">
          <div class="questionText mb-3">
            A risk register is a record (or a tool) used to track on a project's ________________ throughout the
            project's life cycle.
          </div>
        </div>

        <div class="col-6">
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label answerText" for="flexRadioDefault1">
              risks and opportunities
            </label>
          </div>
        </div>

        <div class="col-6">
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label answerText" for="flexRadioDefault1">
              privacy and information
            </label>
          </div>
        </div>

        <div class="col-6">
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label answerText" for="flexRadioDefault1">
              issue and risks
            </label>
          </div>
        </div>

        <div class="col-6">
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label answerText" for="flexRadioDefault1">
              risks register and opportunities
            </label>
          </div>
        </div>

        <div class="col-12 my-3">
          <!-- Gap -->
        </div>

        <div class="col-6">
          <div class="mt-3 d-flex justify-content-start align-items-center">
            <div class="stepsCount">Step 3 of 3</div>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-sm px-3">Prev</button>
            <button type="button" class="btn btn-primary btn-sm px-3 mx-2">Submit</button>
          </div>
        </div>
      </div>
    </section>
    <!-- M-App End Here -->

    <br><br><br>

    <!-- M-App Start Here -->
    <section>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <img src="./assets/images/merit-logo.png" class="pe-3 border-end " />
          <h2 class="popupTitle ms-3 mt-1 ">M-App</h2>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="topicName mt-3">World Quality Month 2022</div>
        </div>

        <div class="col-12 d-flex justify-content-center align-items-center">
          <h2 class="topicTitle mt-3 mb-3"> 02. Quality Management Principles</h2>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="topicQuestion mt-2 mb-2">Thank you for your time!!</div>
        </div>

        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center bd-highlight">
            <div class="p-2 bd-highlight"><img src="./assets/images/correct-star-icon.svg" class="" /></div>
            <div class="p-2 bd-highlight"><img src="./assets/images/correct-star-icon.svg" class="" /></div>
            <div class="p-2 bd-highlight"><img src="./assets/images/wrong-star-icon.svg" class="" /></div>
          </div>
        </div>

        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="scoreValue mt-2 mb-2">Your score is 2/3</div>
        </div>

        <div class="col-12">
          <div class="row border border-1 rounded-3 p-3 mt-3">
            <div class="col-12">
              <div class="questionCount mb-2">
                Question: 3
              </div>
            </div>
            <div class="col-12">
              <div class="questionText mb-3">
                A risk register is a record (or a tool) used to track on a project's ________________ throughout the
                project's life cycle.
              </div>
            </div>

            <div class="col-6">
              <div class="form-check mt-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault11" checked>
                <label class="form-check-label answerText" for="flexRadioDefault11">
                  risks and opportunities
                </label>
              </div>
            </div>

            <div class="col-6">
              <div class="form-check mt-2">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled"
                  disabled>
                <label class="form-check-label" for="flexRadioCheckedDisabled">
                  privacy and information
                </label>
              </div>
            </div>

            <div class="col-6">
              <div class="form-check mt-2">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled"
                  disabled>
                <label class="form-check-label" for="flexRadioCheckedDisabled">
                  issue and risks
                </label>
              </div>
            </div>

            <div class="col-6">
              <div class="form-check mt-2">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled"
                  disabled>
                <label class="form-check-label" for="flexRadioCheckedDisabled">
                  risks register and opportunities
                </label>
              </div>

            </div>
          </div>
        </div>

        <div class="col-12 my-3">
          <!-- Gap -->
        </div>

        <div class="col-6">
          <div class="mt-3 d-flex justify-content-start align-items-center">
            <img src="./assets/images/snooze-icon.svg" class="pe-1" />
            You can skip this once.
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-sm px-3">Prev</button>
            <button type="button" class="btn btn-primary btn-sm px-3 mx-2">Submit</button>
          </div>
        </div>

      </div>
    </section>
    <!-- M-App End Here -->

    <br><br><br>

    <!-- Project Request Start Here -->
    <section>
      <div class="row d-flex justify-content-between">
        <div class="col">
          <h1 class="h1">Project Request</h1>
        </div>
        <div class="col d-flex justify-content-end">
          <img src="./assets/images/close-icon.svg" class="close-icon">
        </div>
        <div class="col-12 mt-3">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Select Client Name</mat-label>
            <input matInput placeholder="Select Client Name ">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Select Project Name</mat-label>
            <input matInput placeholder="Select Project Name">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Select Sub Project Name</mat-label>
            <input matInput placeholder="Select Sub Project Name">
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-sm px-3">Submit</button>
            <button type="button" class="btn btn-secondary btn-sm px-3 mx-2">Reset</button>
          </div>
        </div>
      </div>
    </section>
    <!-- Project Request End Here -->

  </div>