  <!-- Popup -->
        <div class="popups p-5 pt-0">
          <div class="topLine"></div>
          <div class="container">
            <div class="row d-flex justify-content-between">
              <div class="col">
                <h1 class="h1">Emoji Meter</h1>
              </div>
              <div class="col d-flex justify-content-end">
                <img src="./assets/images/merit-logo.png" />
              </div>
            </div>
            <div class="row d-flex justify-content-evenly my-4 mb-5">
              <div class="col text-center">
                <div class="emojiBlock">
                  <div class="py-3">
                    <img src="./assets/images/emoji-icons/very-happy-emoji.png" class="emojiIcon" />
                  </div>
                  <div class="emojiBlockTitle py-3 px-1">
                    Very Happy
                  </div>
                </div>
              </div>
              <div class="col text-center">
                <div class="emojiBlock emojiActive">
                  <div class="py-3">
                    <img src="./assets/images/emoji-icons/happy-emoji.png" class="emojiIcon" />
                  </div>
                  <div class="emojiBlockTitle py-3 px-1">
                    Happy
                  </div>
                </div>
              </div>
              <div class="col text-center">
                <div class="emojiBlock">
                  <div class="py-3">
                    <img src="./assets/images/emoji-icons/neutral-emoji.png" class="emojiIcon" />
                  </div>
                  <div class="emojiBlockTitle py-3 px-1">
                    Neutral
                  </div>
                </div>
              </div>
              <div class="col text-center">
                <div class="emojiBlock">
                  <div class="py-3">
                    <img src="./assets/images/emoji-icons/sad-emoji.png" class="emojiIcon" />
                  </div>
                  <div class="emojiBlockTitle py-3 px-1">
                    Sad
                  </div>
                </div>
              </div>
              <div class="col text-center">
                <div class="emojiBlock">
                  <div class="py-3">
                    <img src="./assets/images/emoji-icons/very-sad-emoji.png" class="emojiIcon" />
                  </div>
                  <div class="emojiBlockTitle py-3 px-1">
                    Very Sad
                  </div>
                </div>
              </div>
            </div>
            <div class="hrSeparate my-4"></div>
            <div class="row d-flex justify-content-between">
              <div class="col-sm-12 col-md-6">
                <div class="d-flex flex-row">
                  <div class="pe-3">
                    <img src="./assets/images/profile-img.png" class="profileIcon" />
                  </div>
                  <div>
                    <div class="welcomeText">Welcome Back, </div>
                    <div class="employeeName">Shanmugam Jayaraman</div>
                    <div class="employeeID">603319 | Senior Software Engineer</div>
                  </div>
                </div>
              </div>
              <div class="col-auto col-sm-12 col-md-6">
                <div class="d-flex flex-row">
                  <div class="border border-4 border-top-0 border-end-0 border-bottom-0 purpleBorder ps-3 ">
                    <div class="timeStatus">Weekly Time Status</div>
                    <div class="hoursStatus">8:35/40:00 Hours</div>
                    <div class="currentStatus">Yesterday you will work 0:35 Hour extra time</div>
                  </div>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>