<div class="navbar-custom d-flex align-items-center justify-content-between">
  <div class="d-flex flex-row grid gap-3">
    <div class="customBatch">
      <img src="./assets/images/laptop-icon.svg" />
      Location:
      <span>WFH</span>
    </div>
    <div class="customBatch">
      <img src="./assets/images/timer-icon.svg" />
      Today:
      <span>8:30Hrs</span>
    </div>
    <div class="customBatch">
      <img src="./assets/images/timer-icon.svg" />
      Weekly:
      <span>17:05Hrs</span>
    </div>
    <div class="customBatch">
      <img src="./assets/images/timer-icon.svg" />
      Balance:
      <span>22:55Hrs</span>
    </div>
  </div>

  <div class="d-flex flex-row grid gap-3">
    <a href="#" class="" aria-current="page">
      <div class="headerIcons">
        <img src="./assets/images/timer-icon.svg" />
      </div>
    </a>
    <a href="#" class="" aria-current="page">
      <div class="headerIcons">
        <img src="./assets/images/dots-icon.svg" />
      </div>
    </a>
    <div class="profileImg">
      <img src="./assets/images/profile-img.png" class="profileImg" />
    </div>
  </div>
</div>