<!-- Timesheet -->
<div class="pageContent p-4">
  <div class="row">
    <div class="col-4">

      <h2 class="h2">Timesheet <div class="h2Hightlight"></div>
      </h2>
    </div>
    <div class="col-8">
      <div class="d-flex flex-row grid gap-4 justify-content-end">
        <!-- <div class="timeSheetStatus ps-2">
            <div class="tsTitle">Week 48</div>
            <div class="tsValue">28/11/2022 to 2/12/2022 </div>
          </div> -->
        <div class="timeSheetStatus greenBorder ps-2">
          <div class="tsTitle">Today Time Status</div>
          <div class="tsValue">8:30 Hours </div>
        </div>
        <div class="timeSheetStatus ps-2">
          <div class="tsTitle">Weekly Time Status</div>
          <div class="tsValue">17:05/40:00 Hours </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col mt-3">
      <div class="headingSeparate"></div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-3 mb-2">
      <div>
        <ul class="daysList m-0 p-0 d-flex flex-wrap">
          <li class="me-2 mb-2">
            <div class="weekDays leave"><span class="me-1"></span>MON - 28,July (PL)</div>
          </li>
          <li class="me-2 mb-2">
            <div class="weekDays"><span class="me-1"></span>TUE- 29,July(WFO)</div>
          </li>
          <li class="me-2 mb-2">
            <div class="weekDays lopLeave"><span class="me-1"></span>WED - 30,July (LOP)</div>
          </li>
          <li class="me-2 mb-2">
            <div class="weekDays active"><span class="me-1"></span>THU - 31,July(WFH)</div>
          </li>
          <li class="me-2 mb-2">
            <div class="weekDays inActive"><span class="me-1"></span>FRI - 1,August</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Search by Keyword</mat-label>
        <input matInput placeholder="Search by Keyword">
      </mat-form-field>
    </div>
    <div class="col-md-8">
      <div class="d-flex flex-row grid gap-3 justify-content-end">
        <button type="button" class="btn btn-secondary">Expand/Collapse All</button>
        <button type="button" class="btn btn-primary">Add activity</button>
        <button type="button" class="btn btn-success">Adv. Filter</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div>
        <ul class="daysList m-0 p-0 d-flex flex-wrap">
          <li class="me-2 mb-2">
            <div class="weekDays productive">Productive - 8:35Hrs </div>
          </li>
          <li class="me-2 mb-2">
            <div class="weekDays nonProductive">Non Productive - 1:15Hrs</div>
          </li>
          <li class="me-2 mb-2">
            <div class="weekDays break">Break - 1:15Hrs</div>
          </li>
          <li class="me-2 mb-2">
            <div class="weekDays totalDuration">Total Duration - 8:30Hrs</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-2">
      https://material.angular.io/components/table/examples
      <br> Please update the <b>table with expandable rows</b>. Later I will update the styles.
    </div>
  </div>

</div>