/* a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
} */

.projectName {
  color: #33348E;
  text-align: center;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.projectVersion {
  color: #5F6368;
  text-align: center;
  font-size: 9px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-link {
  padding: 0.5rem 0.5rem;
  color: #212529;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.nav-link .icon {
  fill: #5F6368;
}

.nav-link:hover {
  color: #33348E;
  background-color: #F5F5F5;
  /* box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15); */
}

.menuArea {
  min-height: calc(100vh - 410px);
  overflow: auto;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #33348E;
  background-color: #ffffff;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.nav-pills .nav-link.active .icon,
.nav-link.active .icon,
.nav-link:hover .icon,
.nav-pills .show>.nav-link {
  fill: #33348E;
}